<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#" >

<!-- Load Jquery and javascript- -->
<script src="/static/jquery-list.js"></script>
<script src="/static/javascript.js"></script>

<!-- head -->
<head>
<meta property="og:image" content="/static/img/preview.jpg" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> DayBreak </title>

<! <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<!<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="/static/index.css">
<link rel="stylesheet" type="text/css" href="/static/blog.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="shortcut icon" type="image/x-icon" href="/static/img/icon.png" />


</head>
<!--head ends-->

<body>

<img class="loading_image" src="/static/img/loading.gif">

<div id="body_wrapper">

<!--responsive menu-->
<div id="res_menu">
<div id="res_menu_label">
<div id="line"></div><div id="line"></div><div id="line"></div>
</div>
</div>

<!---Normal Menu-->
<div id="menu2"></div>
<div id="menu">
<a href="/"> <img class="logo" src="http://kaustav1996.github.io/logo-iloveimg-resized.png"> </a>
<div id="menu_tabs">
<a id="1"><p class="menu" style="text-decoration : none "> HOME </p></a>
<a id="2"><p class="menu"> ABOUT </p></a>
<a id="3"><p class="menu"> PROJECTS </p></a>
<a id="5"><p class="menu"> SERVICES </p></a>
<a href="/contactUs"><p class="menu"> CONTACT </p></a>

</div>
</div>



<!---------header section-->
<div id="header">
<div id="coverText">
<h1 class="header_head"> DayBreak</h1>
<h2 class="header_head"> catchy tagline </h2>
</div>
</div>



<!---------main content starts from here-->
<div id="content">



<!--------About Me section-->
<div id="about_home">
<h1 class="header1">About Us</h1>
<p class="paragraph"> Description </p>
<!--------Personal Stuffs section------------>
<div id="about2">
<h1 class="header1">Personal Stuffs</h1>
<div id="about_image_holder">
<img class="personal" src="/static/img/18.jpg">
<img class="personal" src="/static/img/17.jpg">
<img class="personal" src="/static/img/16.jpg">
<img class="personal" src="/static/img/15.jpg">
<img class="personal" src="/static/img/14.jpg">
<img class="personal" src="/static/img/13.jpg">
<img class="personal" src="/static/img/12.jpg">
<img class="personal" src="/static/img/10.jpg">
</div>
<p class="paragraph"> personal stuffs along with picture if needed.</p></p>
<div id="button"><a href="#about_home" id="a2"><text class="buttonDefault"> READ LESS</text></a></div>
</div>
<div id="button"><a id="a1"><text class="buttonDefault"> READ ON</text></a></div>
</div>


<!-------gallery section------------->
<div id="gallery_home">
<h1 class="header1">Ongoing projects</h1>
<!-------------------->
<div id="gallery_home_items_wrapper">
<!--------First bigger section------------>
<div id="gallery_home1">
<h1 class="image_hover1" > 
<span class="gallery_head"> Game Development</span> <br>
 Name : Ball Game <br><br>
<a href="https://drive.google.com/uc?export=download&id=0BzJ7MMEdeBSaUTBmTDNoaFEtQlE"> <span class="download"> DOWNLOAD </span></a>
</h1>
<img class="image" src="/static/img/ball_game.jpg">
</div>
<!---------Second smaller section-->
<div id="gallery_home2">
<h1 class="image_hover2"> 
<span class="gallery_head"> Logo Design</span> <br>
 Name : JD Films <br><br>
</h1>
<img class="image" src="/static/img/1.jpg">
</div>
<!---------Third smaller section-->
<div id="gallery_home3" style="margin-top:-5px">
<h1 class="image_hover3"> 
<span class="gallery_head"> Logo Design</span> <br>
 Name : Nepal Portal <br><br>
</h1>
<img class="image" src="/static/img/NP.jpg">
</div>
<!---------More Gallery Section-->
<div id="gallery2">
<!---------1st section of more gallery-->
<div id="gallery_home4" style="margin-top:-5px">
<h1 class="image_hover4"> 
<span class="gallery_head"> Digital Painting</span> <br>
 Nepalese Football <br><br>
</h1>
<img class="image" src="/static/img/f.jpg">
</div>
<!---------1st section of more gallery-->
<div id="gallery_home5" style="margin-top:-5px">
<h1 class="image_hover5"> 
<span class="gallery_head"> Digital Painting</span> <br>
 Gurkha Soilder <br><br>
</h1>
<img class="image" src="/static/img/DP1.jpg">
</div>
<!---------1st section of more gallery-->
<div id="gallery_home6" style="margin-top:-5px">
<h1 class="image_hover6"> 
<span class="gallery_head"> Graphic Design</span> <br>
 Champions League Match Banner <br><br>
</h1>
<img class="image" src="/static/img/DP3.jpg">
</div>
<div id="button"><a id="a4"><text class="buttonDefault" > VIEW LESS PROJECTS </text></a></div>

</div>
</div>
<div style="display:table" id="alu"><a><text></text></a></div>
</div>
<div id="button"><a id="a3"><text class="buttonDefault" > VIEW MORE PROJECTS </text></a></div>



<!--------My service section------------>
<div id="services">
<h1 class="header1">My Services</h1>
<div id="services_items_wrapper">

<!--------1st Section------------>
<div class="services_items">
<h2 class="services"> Web Design </h2>
<img class="services" src="/static/img/web_design_icon.png" data-toggle="tooltip" title="I have over 3 years of experience as a web developer. I have awesome Javascript/Django skills and a really good ability to communicate my ideas.">
</div>
<!--------2nd section------------>
<div class="services_items" id="middle">
<h2 class="services"> Logo Design </h2>
<img  class="services" src="/static/img/logo_design_icon.png" data-toggle="tooltip" title="Desiging logos and decorating texts/Typography is one of my passions. I love using my creative ideas to make eyecatching designs.">
</div> 
<!------3rd Section-------------->
<div class="services_items">
<h2 class="services"> Graphic Design </h2>
<img class="services" src="/static/img/graphic_design_icon.png" data-toggle="tooltip" title="I am really good at converting simple pixels into beautiful designs. I am sure you will love my Photoshop/GIMP skills.">
</div> 
<!--------4th Section------------>
<div class="services_items">
<h2 class="services"> Web Design </h2>
<img class="services" src="/static/img/web_design_icon.png" data-toggle="tooltip" title="I have over 3 years of experience as a web developer. I have awesome Javascript/Django skills and a really good ability to communicate my ideas.">
</div>
<!--------5th section------------>
<div class="services_items" id="middle">
<h2 class="services"> Logo Design </h2>
<img  class="services" src="/static/img/logo_design_icon.png" data-toggle="tooltip" title="Desiging logos and decorating texts/Typography is one of my passions. I love using my creative ideas to make eyecatching designs.">
</div> 
<!------6th Section-------------->
<div class="services_items">
<h2 class="services"> Graphic Design </h2>
<img class="services" src="/static/img/graphic_design_icon.png" data-toggle="tooltip" title="I am really good at converting simple pixels into beautiful designs. I am sure you will love my Photoshop/GIMP skills.">
</div> 
<!----------Hire Me button---------->
</div>
<div id="button"><a href="/contactUs"><text class="buttonDefault"> HIRE US</text></a></div>
</div>




<!---------Contact Section-->



<!--------footer section-->
<div id="footer" style="margin-top:0px">
<div id="footer_icons">
<a target="_blank" href="https://www.facebook.com/ishan.subedi.5"><img class="footer_icons" src="/static/img/fb.gif"></a>
<a target="_blank"  href="https://twitter.com/ikushum"><img class="footer_icons" src="/static/img/twitter.gif"></a>
<a target="_blank" href="https://instagram.com/ishan_kushum"><img class="footer_icons" src="/static/img/insta.gif"></a>
<a target="_blank" href="https://github.com/ikushum"><img class="footer_icons" src="/static/img/github.gif"></a>
</div>
<text class="footer"> &#169 2016 Ishan Subedi  </text>
<text class="footer"> All rights reserved </text>
<text class="footer"> Further details: ikushum@gmail.com </text>
</div>
</div>
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({
	html: "true",
	placement: "auto-right",
	delay : {"show": 300, "hide": 100},
	});   
});
</script>
</body>
</html>

<!---------The end :) ----------->
